# IntelliJ project files
.idea
.directory
*.iml
in
out
gen
logs

# Project development files
node_modules
.git
.git-crypt
npm-debug
docker-compose*.yml
dockerfile.dev
.env
.env.example
uploads/images/
