body {
  font-family: "Poppins", sans-serif;
  border-top: 5px solid #E75235;
  padding: 0 35px;
  background-color: #FFFFFF;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}

.company-info {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.company-logo {
  width: 60px;
  height: 60px;
}
.company-logo .logo {
  max-width: 100%;
}

.company-contacts {
  margin-left: 10px;
}
.company-contacts div {
  font-size: 13px;
  font-weight: 300;
}
.company-contacts div:first-child {
  font-size: 30px;
  text-transform: uppercase;
}

.invoice-info {
  text-align: right;
}
.invoice-info div:first-child {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 600;
}
.invoice-info div:nth-child(2) {
  font-size: 16px;
  margin-bottom: 10px;
}
.invoice-info div:nth-child(2) span {
  font-size: 16px;
}
.invoice-info div {
  font-size: 12px;
  font-weight: 300;
}
.invoice-info div span {
  font-size: 13px;
  font-weight: 500;
}

.invoice-balance {
  background-color: #E75235;
  color: #FFFFFF;
  padding: 5px 10px;
  margin-top: 5px;
  text-transform: uppercase;
}
.invoice-balance div:first-child {
  font-size: 12px;
  font-weight: 300;
}
.invoice-balance div:last-child {
  font-size: 24px;
  font-weight: 600;
}
.invoice-balance div:last-child span {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 600;
}

.property {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

.tenant-info {
  margin-top: 15px;
  padding: 20px 0 10px 0;
  border-top: 1px solid #dddddd;
}
.tenant-info .tenant-contacts div:first-child {
  text-transform: uppercase;
}
.tenant-info .tenant-contacts div {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 3px;
}
.tenant-info .tenant-contacts div:nth-child(2) {
  font-size: 15px;
  font-weight: 600;
}
.tenant-info .tenant-contacts div:last-child {
  margin-top: 5px;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 600;
}
.tenant-info .tenant-contacts div:last-child span {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
}

.breakdown-table {
  position: relative;
}
.breakdown-table .total-divider {
  margin: 0;
  border-bottom: 3px solid #E75235;
}
.breakdown-table table {
  border-collapse: collapse;
  width: 100%;
}
.breakdown-table table.rent-cost tr th {
  text-align: left;
  font-size: 18px;
  text-transform: uppercase;
  padding: 5px 20px 5px 20px;
  border-bottom: 1px solid #dddddd;
  background-color: #E75235;
  color: #FFFFFF;
  width: 60%;
}
.breakdown-table table.rent-cost tr th:last-child {
  text-align: center;
}
.breakdown-table table.rent-cost tr td {
  width: 40%;
  padding: 5px 20px 5px 20px;
  text-transform: capitalize;
  border-right: 1px solid #dddddd;
}
.breakdown-table table.rent-cost tr td:last-child {
  border-right: none;
  text-align: right;
}
.breakdown-table table.services-cost tr td {
  padding: 5px 20px 5px 20px;
  text-transform: capitalize;
  border-right: 1px solid #dddddd;
}
.breakdown-table table.services-cost tr td:first-child {
  width: 60%;
}
.breakdown-table table.services-cost tr td:last-child {
  width: 40%;
  border-right: none;
  text-align: right;
}
.breakdown-table table.total-cost {
  position: absolute;
  right: 0;
  width: 40%;
}
.breakdown-table table.total-cost tr td {
  padding: 15px 20px;
  text-transform: capitalize;
  border-right: 1px solid #dddddd;
}
.breakdown-table table.total-cost tr td:first-child {
  font-weight: 500;
  width: 60%;
}
.breakdown-table table.total-cost tr td:last-child {
  width: 40%;
  border-right: none;
  text-align: right;
}
.breakdown-table table.total-cost tr:nth-child(2) {
  border-bottom: 3px solid #E75235;
}
.breakdown-table table.total-cost tr:last-child {
  background-color: #FFFFFF;
  font-weight: 600;
}
.breakdown-table table tr:nth-child(even) {
  background-color: #F5F5F5;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #FFFFFF;
  width: 100%;
  background-color: #E75235;
  text-align: center;
  padding: 5px;
  font-size: 10px;
}

/*# sourceMappingURL=invoice.css.map */
